In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

In [2]:
df = pd.read_csv("v4.100K.csv")

In [3]:
df.head()

,id,datetime,symbol,categ,val,ind0,ind1,ind2,ind3,ind4,...,ind241,ind242,ind243,ind244,ind245,ind246,ind247,ind248,ind249,ind250
0,1,2016-01-04 00:00:00,18,H4,0.53169,0.53309,0.53083,0.5313,3.9,22.6,...,0,0,0,0,0,0,0,0,0,0
1,2,2016-01-04 00:00:00,18,D1,0.53715,0.54172,0.53083,0.5313,58.5,8.9,...,0,0,0,0,0,0,0,0,0,0
2,3,2016-01-04 01:00:00,18,M1,0.53304,0.53309,0.53116,0.5313,17.4,19.3,...,0,0,0,0,0,0,0,0,0,0
3,4,2016-01-04 01:00:00,18,M5,0.53244,0.53309,0.53116,0.5313,11.4,19.3,...,0,0,0,0,0,0,0,0,0,0
4,5,2016-01-04 01:00:00,18,M15,0.53209,0.53309,0.53116,0.5313,7.9,19.3,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.drop(['id','datetime'], axis=1, inplace=True)
print(np.unique(df['categ']))
categ_to_id = {
    'D1' : 0,
    'H4' : 1,
    'H1' : 2,
    'M30': 3,
    'M15': 4,
    'M5' : 5,
    'M1' : 6
}
print([categ_to_id[x] for x in np.unique(df['categ'])])

['D1' 'H1' 'H4' 'M1' 'M15' 'M30' 'M5']
[0, 2, 1, 6, 4, 3, 5]

In [5]:
df.head()

,symbol,categ,val,ind0,ind1,ind2,ind3,ind4,ind5,ind6,...,ind241,ind242,ind243,ind244,ind245,ind246,ind247,ind248,ind249,ind250
0,18,H4,0.53169,0.53309,0.53083,0.5313,3.9,22.6,1,1451865600,...,0,0,0,0,0,0,0,0,0,0
1,18,D1,0.53715,0.54172,0.53083,0.5313,58.5,8.9,1,1451865600,...,0,0,0,0,0,0,0,0,0,0
2,18,M1,0.53304,0.53309,0.53116,0.5313,17.4,19.3,1,1451869200,...,0,0,0,0,0,0,0,0,0,0
3,18,M5,0.53244,0.53309,0.53116,0.5313,11.4,19.3,1,1451869200,...,0,0,0,0,0,0,0,0,0,0
4,18,M15,0.53209,0.53309,0.53116,0.5313,7.9,19.3,1,1451869200,...,0,0,0,0,0,0,0,0,0,0

In [6]:
n = len(df["categ"])
for i in range(n):
    df.iloc[i,1] = categ_to_id[df.iloc[i,1]]
    sys.stdout.write(
            '\r>> Preprocessing data : %d/%d' % (i+1,n))
    sys.stdout.flush()

>> Preprocessing data : 99999/100000

In [ ]:
cols = df.columns
print("number of columns is" , len(cols))
print("columns are : ",cols)

In [9]:
df.dtypes

symbol      int64
categ      object
val       float64
ind0      float64
ind1      float64
ind2      float64
ind3      float64
ind4      float64
ind5        int64
ind6        int64
ind7        int64
ind8        int64
ind9        int64
ind10     float64
ind11     float64
ind12     float64
ind13       int64
ind14     float64
ind15     float64
ind16     float64
ind17       int64
ind18     float64
ind19     float64
ind20     float64
ind21       int64
ind22     float64
ind23     float64
ind24     float64
ind25       int64
ind26     float64
           ...
ind221    float64
ind222    float64
ind223    float64
ind224    float64
ind225    float64
ind226    float64
ind227    float64
ind228    float64
ind229    float64
ind230    float64
ind231      int64
ind232      int64
ind233      int64
ind234      int64
ind235      int64
ind236      int64
ind237      int64
ind238      int64
ind239      int64
ind240      int64
ind241      int64
ind242      int64
ind243      int64
ind244      int64
ind245      int64
ind246      int64
ind247      int64
ind248      int64
ind249      int64
ind250      int64
dtype: object

In [13]:
raw_data = df.values
raw_data.shape

(100000, 254)

    'D1' : 0,
    'H4' : 1,
    'H1' : 2,
    'M30': 3,
    'M15': 4,
    'M5' : 5,
    'M1' : 6

In [ ]:
class DatasetLoader: 
    def __init__(self,raw_data):
        self.dataset = []
        self.image = []
        self.Last_D1 = None
        self.Last_H4 = None
        self.Last_H1 = None
        self.Last_M30 = None
        self.Last_M15 = None
        self.Last_M5 = None
        self.Last_M1 = None
        
    def build_dataset(self,data):
        for line in  data :