In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

In [13]:
df2 = pd.read_csv("v4.100K.csv")

In [17]:
df2.head()

,id,datetime,symbol,categ,val,ind0,ind1,ind2,ind3,ind4,...,ind241,ind242,ind243,ind244,ind245,ind246,ind247,ind248,ind249,ind250
0,1,2016-01-04 00:00:00,18,H4,0.53169,0.53309,0.53083,0.5313,3.9,22.6,...,0,0,0,0,0,0,0,0,0,0
1,2,2016-01-04 00:00:00,18,D1,0.53715,0.54172,0.53083,0.5313,58.5,8.9,...,0,0,0,0,0,0,0,0,0,0
2,3,2016-01-04 01:00:00,18,M1,0.53304,0.53309,0.53116,0.5313,17.4,19.3,...,0,0,0,0,0,0,0,0,0,0
3,4,2016-01-04 01:00:00,18,M5,0.53244,0.53309,0.53116,0.5313,11.4,19.3,...,0,0,0,0,0,0,0,0,0,0
4,5,2016-01-04 01:00:00,18,M15,0.53209,0.53309,0.53116,0.5313,7.9,19.3,...,0,0,0,0,0,0,0,0,0,0

In [26]:
for i in range(len(df2)):
    if df2['symbol'][i] != 18 :
        for x in range(i-10,i+10):
            print(df2['symbol'][x],df2['datetime'][x],df2['categ'][x])
        break

18 2016-01-04 23:51:00 M1
18 2016-01-04 23:52:00 M1
18 2016-01-04 23:53:00 M1
18 2016-01-04 23:54:00 M1
18 2016-01-04 23:55:00 M1
18 2016-01-04 23:55:00 M5
18 2016-01-04 23:56:00 M1
18 2016-01-04 23:57:00 M1
18 2016-01-04 23:58:00 M1
18 2016-01-04 23:59:00 M1
15 2016-01-04 00:00:00 M1
15 2016-01-04 00:00:00 M5
15 2016-01-04 00:00:00 M15
15 2016-01-04 00:00:00 M30
15 2016-01-04 00:00:00 H1
15 2016-01-04 00:00:00 H4
15 2016-01-04 00:00:00 D1
15 2016-01-04 00:01:00 M1
15 2016-01-04 00:02:00 M1
15 2016-01-04 00:03:00 M1

In [4]:
df.drop(['id','datetime'], axis=1, inplace=True)
print(np.unique(df['categ']))
categ_to_id = {
    'D1' : 0,
    'H4' : 1,
    'H1' : 2,
    'M30': 3,
    'M15': 4,
    'M5' : 5,
    'M1' : 6
}
print([categ_to_id[x] for x in np.unique(df['categ'])])

['D1' 'H1' 'H4' 'M1' 'M15' 'M30' 'M5']
[0, 2, 1, 6, 4, 3, 5]

In [32]:
data_frames = []
df.set_index(keys=['symbol'], drop=False,inplace=True)
for i in np.unique(df['symbol']):
    data_frames.append(df.loc[df['symbol']==i])
print(len(data_frames))
for d in data_frames :
    print(d.shape)

22
(5708, 254)
(3803, 254)
(3802, 254)
(3798, 254)
(3804, 254)
(3805, 254)
(3803, 254)
(3804, 254)
(5489, 254)
(5708, 254)
(5696, 254)
(5704, 254)
(5685, 254)
(5707, 254)
(5705, 254)
(5709, 254)
(5708, 254)
(5474, 254)
(2730, 254)
(1822, 254)
(3482, 254)
(3054, 254)

In [6]:
n = len(df["categ"])
for i in range(n):
    df.iloc[i,1] = categ_to_id[df.iloc[i,1]]
    sys.stdout.write(
            '\r>> Preprocessing data : %d/%d' % (i+1,n))
    sys.stdout.flush()

>> Preprocessing data : 100000/100000

In [7]:
cols = df.columns
print("number of columns is" , len(cols))
print("columns are : ",cols)

number of columns is 254
columns are :  Index(['symbol', 'categ', 'val', 'ind0', 'ind1', 'ind2', 'ind3', 'ind4',
       'ind5', 'ind6',
       ...
       'ind241', 'ind242', 'ind243', 'ind244', 'ind245', 'ind246', 'ind247',
       'ind248', 'ind249', 'ind250'],
      dtype='object', length=254)

In [8]:
np.unique(df.dtypes)

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

In [9]:
raw_data = df.values
raw_data.shape

(100000, 254)

    'D1' : 0,
    'H4' : 1,
    'H1' : 2,
    'M30': 3,
    'M15': 4,
    'M5' : 5,
    'M1' : 6

[[0, 0, 0], [0, 0, 0]]

In [ ]:
class DatasetLoader: 
    def __init__(self,raw_data):
        self.dataset = []
        self.Last_D1 = None
        #self.label_D1 = None
        self.Last_H4 = None
        self.Last_H1 = None
        self.Last_M30 = None
        self.Last_M15 = None
        self.Last_M5 = None
        self.Last_M1 = None
        self.image = [None]
        
    def _update_image(self):
        self.image = [
            self.Last_D1,
            self.Last_H4,
            self.Last_H1,
            self.Last_M30,
            self.Last_M15,
            self.Last_M5,
            self.Last_M1
        ]
    def _update_label(self):
        
    def build_dataset(self,data):
        for k in  range(len(data)) :
            line = data[k]
            if line[1] == 0 :
                self.Last_D1 = line
            elif line[1] == 1 :
                self.Last_H4 = line
            elif line[1] == 2 :
                self.Last_H1 = line
            elif line[1] == 3 :
                self.Last_M30 = line
            elif line[1] == 4 :
                self.Last_M15 = line
            elif line[1] == 5 :
                self.Last_M5 = line
            elif line[1] == 6 :
                self.Last_M1 = line
            else : continue
            self._update_image()
            if None not in self.image :
                self.dataset.append(self.image)